@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #c4a2e2;
}

.middle {
	width: 80%;
	margin: auto;
}

.header-top {
	color: #fff;
	line-height: 42px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.header-bottom {
	background-color: #f5f8fa;
	padding: 22px 0;
	line-height: 40px;
}

.header-bottom img {
	vertical-align: middle;
}

header nav ul li:last-child {
	padding-right: 0;
}

header nav ul li:last-child .search {
	border-radius: 5px;
	border: 1px solid #ced9df;
	line-height: 40px;
	padding: 0 5px;
}

header nav ul li input {
	padding: 2px 2px;
	background-color: #f7f9fb;
	border: none;
}

header nav ul li {
	color: black;
	list-style: none;
	float: left;
	padding: 5px 10px;
}

header nav ul li a {
	text-decoration: none;
}

.container {
	position: relative;
	height: 400px;
	background-image: url("../images/Mid Server.png"), url("../images/Mid Cloud.png"), url("../images/Left Server.png"), url("../images/Right Server.png"), url("../images/Clouds.png"), url("../images/World Map.png"), url("../images/bg-img.png");
	background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat;
	background-position: 65% 80%, 40% 100%, 50% 80%, 75% 80%, bottom, center top, left bottom;
}